body{
    margin: 0px;
    font-size: 18px;
}

.container{
    margin: 10px 10px;


}
.partOne {
   padding:3px
}

.head{
    text-align: center;
    font-weight: bold;
}
.container{
    display: flex;
  flex-direction: column;
}
form{
    margin: 20px;
}
input{
   /* margin-bottom: 10px; */
   border: none;
   border-bottom: 1px grey solid;

}
.first-closet{
    float: left;
    width: 50%;
    margin-bottom: 30px;
    
}
.second-closet{
    float: right;
    width: 50%;
    margin-bottom: 30px;
}
.full{
    width: 100%;
}
.item{
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
    align-items:flex-start;
    float: left;
    margin-right: 20px;
}
.item2{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items:flex-start;
    float: left;
}
input[type=submit]{
    background-color: steelblue;
    font-size: 1.2em;
    padding: 5px;
    text-align: center;
    margin:20px auto;
    color: white;
}
.item3{
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
    align-items:flex-start;
    float: left;
    margin-right: 20px;
    width: 25%;
    margin-bottom: 20px;
}
.item4{
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
    align-items:flex-start;
    float: left;
    margin-right: 20px;
    width: 25%;
    margin-bottom: 20px;
}
.permision h1{
padding-bottom: 0px;
margin-bottom: 5px;
}
.permision p{
    float: left;
    padding: 5px;

}
.start{
    font:left;
    display: flex;
    justify-content:space-between;
}
.full p{
    width:100%;
}
input[type="checkbox"]{

}
th,td{
    padding: 5px;
}
.regest{
    margin: 5px;
}
input[type=submit]{
    display: flex;

}
div#header-h1{
    background-image: url(design2_3image1.png);
    background-size: cover;
    display:flex;
    width: 100%;
    height: 400px;
    }
    .topnav{
        text-align: center;
        font-size: 16px;
        padding: 10px;
        /* float: right; */
        display: flex;
        background-color: #00867d;
        justify-content: space-between;
        position: fixed;
        width: 100%;
        }
        .topnav a{
            margin: 5px;
            color:white;
            text-decoration: none;
            font-size: 18px;
           
        }
        .topnav a:hover{
          color: #f0bb2b;

       
        } 
        a.active{
            color: black;
            text-decoration: underline;
            
             }
             footer{
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                align-content:center ;
                background-color: #00867d;
                height: 10vh;
                color: white;
                font-size: 1.5em;
                padding-top: 50px;
                
              }
              footer a{
             font-size: 1.6em;
             color: white;
             padding-right: 1em;
              }
              footer a:hover{
               -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
               -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
               animation-name: example;
               animation-duration: 4s;
              }
              @keyframes example {
                from {color: red;}
                to {color: yellow;}
              }
              