body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 2px grey solid;
    margin:20px;
    text-align: left;
}
.header{
    text-align: center;
}
h2{
    /* font-weight:400px;
    font-weight: bold; */
    font-size: inherit;
    font-weight: bold;
}
p{
    font-size:1.25em;
    font-weight: 400px;
  
}

.num{
    list-style-type: decimal;
}
.alpha{
    list-style-type: lower-latin;
}
.content{
    text-align: left;
    margin:20px;
    padding: 40px;
  
}
.squer{
    list-style-type: ;
}
.container{
    widows: 80px;
    min-height:315px;
    margin:0 auto;
    position:relative;
    padding-bottom:30px;
    overflow:hidden;
    background-color: #ddd;
  }
  .itali{
      list-style-type: lower-alpha;
  }
.squ{
    list-style-type: square;
}
#header-h1{
    margin-bottom: 30px;
    background-image: url(../image/soccer_image2.jpeg);
  color: white;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    height: 200px
}
#header-h1 p{
    margin: 0px;
    padding-left:10px;
    width:40%;
    float: left;
    color: white;
    font-size: 2em;
}
div.topnav{
    padding:5px 0;
    float: right;
    width:55%;
    text-align: center;
    font-size: 1.12em;

}
div.topnav a{
padding: 5px;
text-decoration: none;
color: white;
}

div.topnav a:hover{
    /* color: white;
    transform-origin: top(0.5turn);
    background-color: #76b2e2; */

   animation-iteration-count: 4;
    animation-name: example;
    animation-duration: 4s;

   }
   @keyframes example {
    from {color: red;}
    to {color: yellow;}
  }
.topnav a.active{
    color: black;
    text-decoration: underline;
    
     }
     footer{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-content:center ;
        background-color: #00867d;
        height: 10vh;
        color: white;
        font-size: 1.5em;
        padding-top: 50px;
        
      }
      footer a{
     font-size: 1.6em;
     color: white;
     padding-right: 1em;
      }
      footer a:hover{
       -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
       -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
       animation-name: example;
       animation-duration: 4s;
      }
      @keyframes example {
        from {color: red;}
        to {color: yellow;}
      }
      